.jumbotron {
    background-color:pink; 
    margin-top: 30px;
    padding: 30px 60px 0 10px;
    }

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(238, 167, 141);
    margin-top: 80px;
}

/* .btn {
    color: red;
} */
.card-hotel{
    flex: 20 10px;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    /* position: absolute; pone
    el boton al final
    left: 0;
    bottom: 0; */
    border-radius: 0;
}
.card-footer{
    flex: 20 150px;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
}